body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


.flag {
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
}

.white {
    width: 100%;
    height: 33%;
    background: white;
    position: absolute;
    top: 330%;
    left: 30%;
}

.green {
    width: 100%;
    height: 33%;
    background: green;
    position: absolute;
    top: 0%;
    left: 30%;
}
.black {
    width: 100%;
    height: 34%;
    background: black;
    position: absolute;
    top: 66%;
    left: 30%;
}
.red {
    width: 30%;
    height: 100%;
    background: red;
    position: absolute;
    top: 0%;
    left: 0%;
}